
<div class="row">
    <div class="col-lg-12">
        <div class="modal-test-container text-right">
            <a href="" id="modal-test-button" class="btn btn-success" ng-click="testModal()"><i class="fa fa-bell"></i> Show Modal</a>
        </div>
        <h4>Basic Form</h4>
        <div class="well">
            <div id="basic-form" angular-forms="afBasicForm" form-definition="basicForm"></div>
        </div>
        <h4>Horizontal Form</h4>
        <div class="well" ng-controller="horizontalCtrl">
            <div id="horizontal-form" angular-forms="afHorizontalForm" form-definition="horizontalForm"
                form-delay="hzReady"></div>
        </div>
        <h4>Checkboxes</h4>
        <div class="well">
           <div id="checkboxForm"></div>
        </div>
        <h4>Checkboxes in Horizontal Form</h4>
        <div class="well">
            <div id="checkboxHorizontalForm"></div>
        </div>
        <h4>Radio Buttons</h4>
        <div class="well">
            <div id="radioForm"></div>
        </div>
        <h4>Radio Buttons in Horizontal Form</h4>
        <div class="well">
            <div id="radioHorizontalForm"></div>
        </div>
    	<a href="#/robots" class="btn btn-primary">Order a Robot!</a>

        <div id="modal-target"></div>

    </div><!-- col-lg-12 -->
</div><!-- row -->

