

<div class="jumbotron ng-cloak">
    <div class="container">
        <h1><span class="red">A</span>ngularF<img class="cow" src="/docsite/img/redcow.png" >rms</h1>
        <p>Create web forms as reusable JSON objects that can be injected anywhere into your app, complete with Twitter Bootstrap styling and AngularJS data bindings and validation.</p>
        <div class="download">
            <a class="btn btn-default btn-lg" role="button" 
                ng-href="{{ download_url }}">Download</a>
        </div>
        <div class="github-info ng-cloak">Current: {{ version }} {{ version_name }}
            <a class="btn btn-default btn-xs" role="button"
                href="https://github.com/chouseknecht/angular-forms.js"><i class="fa fa-github"></i> Repo</a>
            <a class="btn btn-default btn-xs" role="button"
                href="https://github.com/chouseknecht/angular-forms.js/fork"><i class="fa fa-github"></i> Fork Me!</a>
            <a class="btn btn-default btn-xs" role="button"
                href="https://github.com/chouseknecht/angular-forms.js/star"><i class="fa fa-github"></i> Star</a>
        </div>     
        <a href="https://twitter.com/CHouseknecht" class="twitter-follow-button" data-show-count="false">Follow @chouseknecht</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
</div><!-- jumbotron -->

<div class="container ng-cloak">
<div class="row">
    <div class="col-lg-12">
        
        <h2>Getting Started</h2>
        
        <h3>Requirements</h3>
        <p>Before using AngularForms, add the following to your project:</p>
        <ul>
        <li><a href="http://jquery.com">JQuery 1.10.2+</a></li>
        <li><a href="http://jqueryui.com">JQueryUI 1.10.3+</a></li>
        <li><a href="http://angularjs.org">AngularJS 1.2.6+</a></li>
        <li><a href="http://fontawesome.io">FontAwesome 4.0.3+</a></li>
        <li><a href="http://getbootstrap.com">Twitter Bootstrap style sheet 3.0.3+</a></li>
        </ul>
        <p>The above can be installed using <a href="http://bower.io">Bower</a>:</p>
<pre>
bower install angular
bower install bootstrap
bower install jquery
bower install jqueryui
bower install components-font-awesome
</pre>
        <h3 class="section-start">Download AngularForms</h3>
        <p>There's more than one way to acquire AngularForms and incorporate it into your project. Choose the method that works best for you:</p>
        <h4>Just the javascript, please</h4>
        <p>The quickest way to get started is to download the compiled javascript.</p>
        <a class="btn btn-primary btn-sm" role="button" ng-href="{{ download_url }}">Download</a>
        
        <h4>Additional methods</h4>
        <h5><a href="https://github.com/chouseknecht/angular-forms.js">Clone or fork via Github</a></h5>
        <p>Cloning or forking the github repo gives you access to a full sample application. Plus, you can contribute!</p>

        <h5>Install via <a href="http://bower.io">Bower</a></h5>
        <p>Add AngularForms to your project with bower:</p>
<pre>
bower install angular-forms.js
</pre>
                        
        <h3 class="section-start">Sample Template</h3>
        <p>Below is a very simple html page showing how to incorporate AngularForms. It assumes bower was used to install the required components. Use it as an example and customize it to fit your environment.</p> 
<pre>
&lt;!DOCTYPE html&gt;
&lt;html lang="en" ng-app="myApp"&gt;
&lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;title&gt;AngularForms | angular-forms.js. Web forms made simple.&lt;/title&gt;
    &lt;link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" /&gt;
    &lt;link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css" /&gt;
    &lt;link rel="stylesheet" href="/bower_components/jqueryui/themes/overcast/jquery-ui.min.css" /&gt;
    &lt;link rel="stylesheet" href="/bower_components/angular-forms.js/angular-forms.css" /&gt;
    &lt;link rel="stylesheet" href="/css/myStyles.css" /&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div ng-controller="yourController"&gt;
        &lt;p>Site content appears here.&lt;/p&gt;

        &lt;div id="insert-form-here">&lt;/div&gt;
    &lt;/div&gt;
    &lt;script src="/bower_components/jquery/jquery.min.js"&gt;&lt;/script&gt;
    &lt;script src="/bower_components/jqueryui/ui/minified/jquery-ui.min.js"&gt;&lt;/script&gt;
    &lt;script src="/bower_components/angular/angular.min.js"&gt;&lt;/script&gt;
    &lt;script src="/js/myApp.js"&gt;&lt;/script&gt;
    &lt;script src="/bower_components/angular-forms.js/angular-forms.min.js"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
                    
        <h3 class="section-start">Example</h3>
        
        <p>Our example contains a JSON object describing an HTML form we would like to have the user complete. Click the Show Form button below, and the JSON object will be turned into HTML, compiled and injected into the page where you can actually use it.
        
        <p>Type in the fields to see the validation work. Notice required fields are highlighted in red as you tab into them. The Reset button is enabled only after you enter a value in one of the fields. The save button will become enabled once all required fields have been entered and all validation requirements are satisified.</p>

        <p>All that without writing any HTML!</p>
        
        <div class="example">
            <p>Click the <em>Show Form</em> button to see the sample form generated and inserted into the DOM below.</p>
            <button type="button" class="btn btn-primary btn-sm" ng-click="showForm()">Show Form</button>
            <a class="remove-form" ng-click="destroyForm()" ng-hide="destroyFormHide">Remove the form</a>
            <div class="example" ng-show="exampleFormReady">
                <h4>Example Form</h4>
                <div class="well">
                    <div id="exampleForm"></div>
                </div>
            </div>
        </div>

        <h4>How does it work?</h4>
        <p>In sampleForm.js angular.module is used to created object named SampleForm. SampleForm is the JSON representation of the HTML we want AngularForms to generate. SampleForm containes form properties (name and horizontal) an object called <em>fields</em> and an object called <em>buttons</em>.</p>

        <p>The <em>fields</em> object contains an object for each input field on the final form. For example, the <em>First name</em> input field is reprented in the JSON as fields.first_name. The fields.first_name object contains key:value pairs representing the attributes the input field will receive. You'll see that buttons work exactly the same way.</p>

        <p>In myApp.js the Angular application is defined along with a controller called <em>myController</em>. Within the controller the JSON object representing the form is passed to AngularForms(), which turns it into HTML. It also adds CSS classes and Angular directives, providing the form with styling and validtion. The form is generated according to the key:value properties in each field object. The result is compiled and injected into the '#exampleForm' DOM element.<p>

        <p><strong>Note</strong> the CSS stylesheet included in this example is not currently included in the build. If you're downlading the zip file to install AngularForms, you may want to copy it into your app and adjust as needed. If you're using the source from Github or via Bower, see the stylesheet in the sample app.</p>
                        
        <tabset class="example">
            <tab>
            <tab-heading>HTML</tab-heading>

<pre>
&lt;!DOCTYPE html&gt;
&lt;html lang="en" ng-app="myApp"&gt;
    &lt;head&gt;
        &lt;meta charset="utf-8"&gt;
        &lt;title&gt;My Sample App&lt;/title&gt;
        &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
        &lt;link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" /&gt;
        &lt;link href="/bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet" /&gt;
        &lt;link href="/bower_components/angular-forms.js/angular-forms.css" rel="stylesheet" /&gt;
        &lt;link href="/css/styles.css" rel="stylesheet"&gt;
    &lt;/head&gt;
    &lt;body&gt;
        
        &lt;div class="container"&gt;
            &lt;div class="row"&gt;
                &lt;div class="col-lg-12" ng-controller="myController"&gt;
                    &lt;h4&gt;Example Form&lt;/h4&gt;
                    &lt;div class="well"&gt;
                        &lt;div id="exampleForm"&gt;&lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;script src="/bower_components/jquery/jquery.min.js"&gt;&lt;/script&gt;
        &lt;script src="/bower_components/angular/angular.min.js"&gt;&lt;/script&gt;
            
        &lt;!-- angular app files --&gt;
        &lt;script src="/js/myApp.js"&gt;&lt;/script&gt;
        &lt;script src="/js/sampleForm.js"&gt;&lt;/script&gt;
        &lt;script src="/bower_components/angular-forms.js/angular-forms.min.js"&gt;&lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;
</pre>
        </tab>
        
        <tab> 
        <tab-heading>CSS</tab-heading>

<pre>
.error {
    display: inline-block;
    color: red;
    font-size: 12px;
}

input.ng-dirty.ng-invalid, select.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid {
    border: 1px solid red;
    outline: none;
}

.help-text {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
    padding-left: 2px;
}

.options-group {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 8px;
}

.buttons {
    margin-top: 25px;
}

.radio-options-group {
    margin-top: 20px;
}

.radio-options-group .radio-inline {
    margin-left: 20px;
}

.radio-options-group .radio-inline:first-child {
    margin-left: 0;
}
</pre>
        </tab>

        <tab>
        <tab-heading>myApp.js</tab-heading>
<pre>
'use strict';

var myApp = angular.module('sampleApp', ['AngularFormsModule', 'SampleFormDefinition']);

myApp.controller('myController', ['$scope', 'AngularForms', 'SampleForm', 
    function($scope, AngularForms, SampleForm) {
    
    var form = AngularForms({ scope: $scope, targetId: 'basicForm', form: SampleForm });       
    form.inject();

    $scope.sources = [
            { id: 'google', label: 'Google' },
            { id: 'yahoo', label: 'Yahoo!' },
            { id: 'bing', label: 'Bing' },
            { id: 'facebook', label: 'Facebook' },
            { id: 'word', label: 'A friend told me' },
            { id: 'other', label: 'Other' }
            ];
    
    }]);
</pre>
        </tab>

        <tab>
        <tab-heading>sampleForm.js</tab-heading>
<pre>
'use strict';

angular.module('SampleFormDefinition', [])
    .value(
    'SampleForm', {
        name: 'SampleForm',                    // Required. Used to set &lt;form&gt; id attribute
        horizontal: false,                     // Set to true for Bootstrap horizontal form layout 
        
        fields: {
            first_name: {
                label: 'First Name',
                srOnly: true,
                type: 'text',
                placeholder: 'First name',
                required: true,
                autocomplete: false,
                helpText: 'Provide your first name.'
                },
            last_name: {
                label: 'Last Name',
                type: 'text',
                srOnly: true,
                placeholder: 'Last name',
                required: true, 
                autocomplete: false,
                helpText: 'Provide your last name.'
                },
            email_address: {
                label: 'Email',
                type: 'email',
                srOnly: true,
                placeholder: 'Email address',
                required: true,
                autocomplete: false,
                helpText: 'Your primary email address.'
                },
            username: {
                label: 'Username',
                srOnly: true,
                placeholder: 'Username',
                type: 'text', 
                length: 30,
                required: true,
                autocomplete: false,
                helpText: 'Choose the name you will be known as.'
                },
            password: {
                label: 'Password',
                srOnly: true,
                placeholder: 'Password',
                helpText: 'Create a password. Make it strong!',
                type: 'password', 
                length: 16, 
                autocomplete: false,
                required: true
                },
            referral_source: {
                label: 'Referral source', 
                srOnly: true,
                placeholder: 'Select a referral source',
                type: 'select',
                required: true,
                helpText: 'How did you hear about us?',
                optionArray: 'sources',
                ngChange: "sourceSelected()"
                },
            other_source: {
                label: 'Other',
                srOnly: true,
                placeholder: 'Other source',
                type: 'text',
                ngShow: "referral_source == 'other'",
                ngRequired: "referral_source == 'other'",
                helpText: 'What is the Other source?'
                }
            },

        buttons: {
            save: {
                label: "Save",
                icon: "fa-refresh",
                ngClick: "save()",
                'class': 'btn-primary btn-sm'
                },
            reset: {
                label: "Reset",
                icon: "fa-minus-circle",
                ngClick: "reset()",
                'class': 'btn-default btn-sm'
                }
            }
        });
</pre>
        </tab>
    </tabset>

    <h3 class="section-start">How do I learn more?</h3>
    <p>The above example will get you started building a simple form. Visit the <a href="/reference.html">reference guide</a> to see all the available form controls and options.</p>

    <p>For more examples, <a href="https://github.com/chouseknecht/angular-forms.js">download the source code from Github</a> and take a look at the sample app. It can be run locally using the included node web server:</p>

<pre>
cd ~/angular-forms.js
node ./scripts/web-server.js

Http Server running at http://localhost:8000/
</pre>


    </div><!-- col-lg-12 -->
</div><!-- row -->
</div><!-- container -->
